<div class="container">
    <div class="header">
        <div class="header_conversation">
            <app-canvas class="header_coversation_avatar" 
                        [name]="currrentConversation()?.conversationName"
                        [backgroundColor]="currrentConversation()?.conversationAvatar!">
                <!-- {{"AVATAR"}} -->
            </app-canvas>
            <div class="header_conversation_name">
                <b>{{currrentConversation()?.conversationName}}</b>
            </div>
            <div class="header_conversation_favorite">
                <span class="material-symbols-light--star-outline"></span>
            </div>
        </div>
        <div class="header_other-options">
            @for (conversationOption of conversationOptions; track $index) {
                <div class="header_other-option" (click)="showOption(conversationOption.name)">
                    <span [className]="conversationOption.display"></span>
                    <div class="header_other-option_label">
                        <span>{{conversationOption.name}}</span>
                    </div>
                    <div class="header_other-option_pointer"></div>
                </div>

                @if ($index == 0) {
                    <div class="border"></div>
                }
            }
        </div>
    </div>
    <div class="content">
        <div class="content_chat">
            <div #bodyLiveChat class="body-live-chat">
                @for (message of currentMessages(); track message.conv_msg_id) {
                    <app-message [message]="message" 
                                (quote)="addQuote($event)" 
                                [quoteContent]="''"
                                [username]="getUserFromMessage(message).username"
                                [avatar]="getUserFromMessage(message).avatar"
                                (needToConfirmDeleteMessage)="needToConfirm($event)"></app-message>
                }
            </div>
            <div class="footer">
                @if(isQuote() != "") {
                    <app-quote [content]="isQuote()" 
                                (cancel)="cancelQuote($event)"
                                [displayCancel]="true"></app-quote>
                }
                <editor #editor [init] = "init" (onKeyDown)="sendMessage($event)">
                    {{"content"}}
                </editor>
            </div>   
        </div> 
        @if(showMembers() == currrentConversation()?.conversationID) {
            <app-members 
                class="content_members" 
                (cancel)="cancelOption()"
                [conversationID]="currrentConversation()?.conversationID"
                (confirmCallback)="forwardConfirmCallback($event)"
                (confirmContext)="forwardConfirmContext($event)"
                (needToConfirm)="needToConfirm($event)"
                [userAdd]="userAdd()!"
                [userRemove]="userRemove()!"></app-members>
        }
    </div>
</div>
