<div class="container">
    <div class="navigation-left">
        <div class="navigation-left_header">
            <div class="navigation-left_header_logo">
            </div>
        </div>
        <div class="navigation-left_body">
            <div class="navigation-left_body_add-new-channel" (click)="switchAddNewChannel()">
                <span class="fe--plus"></span>
            </div>
            <div class="navativation-left_body_settings">
                <span class="carbon--settings"></span>
            </div>
        </div>
    </div>
    @if (searchMode()) {
        <div #searchMode class="navigation-right">
            <div class="navigation-right_header">
                <input type="text" [formControl]="searchConversationFormControl" class="navigation-right_header_input" placeholder="Search">
                <span class="iconoir--cancel" (click)="switchDefaultMode($event)"></span>
            </div>
            <div class="navigation-right_body">
                <div class="navigation-right_body_type">
                    <div class="navigation-right_body_type_list">
                        @for (conversation of conversationListAfterSearch; track conversation) {
                            <app-conversation
                            (needToShowOptions)="showOptions($event)"
                            [conversationID]="conversation.conversationID"
                            [name]="conversation.conversationName" 
                            [currentConversation]="currentConversation()"
                            (needToShow)="showConversation($event)"
                            (confirmLeaveGroup)="confirmLeaveGroup($event)"
                            [messageToReceive]="messageToReceive()"
                            ></app-conversation>
                        }
                    </div>
                </div>
                
            </div>
        </div>
    } @else {

        <div #default class="navigation-right">
            <div class="navigation-right_header">
                <div class="navigation-right_header_user-menu">
                    <app-canvas class="navigation-right_header_user-menu_user"
                                [name]="'ngnangcuong'">
    
                    </app-canvas>
                    <div class="navigation-right_header_user-menu_status">
    
                    </div>
                </div>
                <div class="navigation-right_header_utils">

                    <app-option 
                        class="navigation-right_header_option" 
                        [display]="'carbon--home'" 
                        [name]="'Home'"></app-option>

                    <app-option #searchIcon
                        class="navigation-right_header_option" 
                        [display]="'carbon--search'" 
                        [name]="'Search'"
                        (click)="switchSearchMode($event)"></app-option>
                    <app-option #directoryIcon
                        class="navigation-right_header_option" 
                        [display]="'ph--notebook-light'" 
                        [name]="'Directory'"
                        (click)="switchToDirectory()"></app-option>
                    <app-option 
                        class="navigation-right_header_option" 
                        [display]="'octicon--sort-desc-24'" 
                        [name]="'Display'"></app-option>
                    <app-option 
                        class="navigation-right_header_option" 
                        [display]="'material-symbols-light--logout'" 
                        [name]="'Logout'"></app-option>
                </div>
            </div>
            <div class="navigation-right_body">
                @if (channelList().length > 0) {
                    <div class="navigation-right_body_type">
                        <div class="navigation-right_body_type_header">
                            <span>Channels</span>
                        </div>
                        <div class="navigation-right_body_type_list">
                            @for (conversation of channelList(); track $index) {
                                <app-conversation
                                (needToShowOptions)="showOptions($event)" 
                                [conversationID]="conversation"
                                [isDirected]="false"
                                [currentConversation]="currentConversation()"
                                (needToShow)="showConversation($event)"
                                (notifyConversationName)="getConversationNameFrom($event)"
                                (confirmCallback)="forwardConfirmCallback($event)"
                                (confirmContext)="forwardConfirmContext($event)"
                                (confirmLeaveGroup)="confirmLeaveGroup($event)"
                                [messageToReceive]="messageToReceive()"
                                ></app-conversation>
                            }
                        </div>
                    </div>
                }

                @if (directedConversationList().length > 0) {
                    <div class="navigation-right_body_type">
                        <div class="navigation-right_body_type_header">
                            <span>Conversations</span>
                        </div>
                        <div class="navigation-right_body_type_list">
                            @for (conversation of directedConversationList(); track $index) {
                                <app-conversation
                                (needToShowOptions)="showOptions($event)" 
                                [conversationID]="conversation"
                                [isDirected]="true"
                                [currentConversation]="currentConversation()"
                                (needToShow)="showConversation($event)"
                                (notifyConversationName)="getConversationNameFrom($event)"
                                (confirmCallback)="forwardConfirmCallback($event)"
                                (confirmContext)="forwardConfirmContext($event)"
                                (confirmLeaveGroup)="confirmLeaveGroup($event)"
                                [messageToReceive]="messageToReceive()"
                                ></app-conversation>
                            }
                        </div>
                    </div>
                }
                
            </div>
            <div class="navigation-right_footer">
                <div class="navigation-right_footer_logo">
    
                </div>
                <div class="navigation-right_footer_name">
    
                </div>
            </div>
        </div>
    }
</div>
