* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    background-color: #fff;
    width: 40%;
    /* height: 150px; */
    height: fit-content;
    padding: 32px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.header {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_title {
    height: 100%;
    width: fit-content;
    display: flex;
    font-size: 28px;
    font-weight: 700;
    color: black;
}

.body {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.body_description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 16px;
    color: rgba(0, 0, 0, .7);
}

.body_key {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body_key input {
    width: 100%;
    height: 100%;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 4px;
    outline: 1px solid rgba(0, 0, 0, .5);
    border: none;
}

.body_key input:focus {
    outline: 1px solid rgb(0, 140, 255);
    transition: .2s;
    border: none;
}

.footer {
    margin-top: 32px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30%;
    width: 100%;
}

.footer_button {
    height: 40px;
    /* width: 80px; */
    width: fit-content;
    border-radius: 4px;
    background-color: rgba(0, 140, 255, 0.8);
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
}

.footer_button:hover {
    cursor: pointer;
    background-color: rgba(0, 140, 255, 1);

}

.footer_button_label {
    /* width: 100%;
    height: 100%; */
}
